
$bg-color: #111;
$text-color: #eee;
$accent-color: #48f;
$control-bg: rgba(20, 20, 20, 0.7);
body {
  margin: 0;
  overflow: hidden;
  font-family: "M PLUS 1p", sans-serif;
  background: #9bbdff;
}

#viewer {
  width: 100vw;
  height: 100vh;
  canvas {
  image-rendering: pixelated;
  transform: translateZ(0);
 }
}
.inputRange {
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 2vh;
  width: 90%;
  transform: translateX(-50%);
  appearance: none;
  border: 1px solid #333333;
  border-radius: 5px;
  cursor: pointer;
}
.inputRange::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #8d8d8d;
  box-shadow: none;
}



#time-bar {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 75px;
  padding: 6px 20px 15px 20px;
  border-radius: 16px;
  backdrop-filter: blur(8px) saturate(180%);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  user-select: none;
  cursor: grab;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#time-bar:active {
  cursor: grabbing;
}

.ticks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  margin-bottom: 6px;

  .tick {
    width: 2px;
    height: 8px;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 6px;

    &.major {
      height: 14px;
      background: white;
    }
  }
}

.date-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .arrow {
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.2);
    }
  }

  .date-display {
    color: white;
    text-align: center;

    #date-main {
      font-weight: 700;
      font-size: 20px;
    }

    #date-sub {
      font-size: 13px;
      opacity: 0.9;
    }
  }
}

.play-controls {
  margin-top: 4px;

  .play {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}
// ==== モバイル対応 ====
@media (max-width: 600px) {
  #time-bar{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 80px;
    padding: 12px 20px;
    border-radius: 16px;
  }
  #controls {
    width: 70%;
    padding: 8px 14px;
    #label {
      font-size: 16px;
    }
  }
  .inputRange {
    bottom: 1%;
}
}